body
  background-color: #f7f7f7
  background-image: url(/img/infinite_RM.png)
  background-repeat: no-repeat
  background-position: top center
  background-attachment: scroll
  color: #555555

#container
  margin: 5px auto
  max-width: 700px
  padding: 0px 25px

img
  margin: 0
  height: auto
  max-width: 100%
  vertical-align: middle // remove space below from link.

a
  color: #555
  font-weight: 400
  text-decoration: none

p
  margin: 1.6em 0

blockquote
  font-style: italic


#top_menu
  li
    display: inline
    border-right: 1px solid #555
  li:last-of-type
    border-right: none

#logo
  width: auto
  text-align: center
  margin-left: auto
  margin-right: auto

@import main_menu

#wrapper
  margin: 5px auto 20px auto
  padding: 0 40px 20px 40px
  border: 1px solid #e5e5e5
  border-radius: 4px
  background-color: rgba(255, 255, 255, 0.5)

.post
  h1
    font-size: 2.45em
    margin-bottom: .5em
    margin-top: .5em
    font-weight: 100
    color: #999

#social-icons
  li
    display: inline-block

@import gallery
