body
  background-color: #f7f7f7
  background-image: url(/img/infinite_RM.png)
  background-repeat: no-repeat
  background-position: top center
  background-attachment: scroll
  color: #555555
  margin: 0
  padding: 0
  border: 0
  font-size: 14px
  font-family: Helvetica, Arial, sans-serif
  line-height: 1.5em

#container
  max-width: 700px
  margin: 5px auto
  padding: 0px 25px

table
  border-collapse: collapse
  width: 100%
  border-spacing: 2px

img
  margin: 0
  height: auto
  max-width: 100%
  vertical-align: middle // remove space below from link.

a
  color: #555
  font-weight: 400
  text-decoration: none

a:hover, a:focus, a:active
  color: #000

p
  word-wrap: break-word

ul
  list-style: square
  padding-left: 20px

p, hr, table, pre, form, blockquote, address
  margin: 1.6em 0

blockquote
  font-style: italic

#top_menu
  position: absolute
  z-index: 2
  right: 25px
  ul
    margin: 2px 0
    display: block
    list-style: none
  li
    display: inline
    a
      border-left: 1px solid #ccc
      padding: 0 4px 0 8px
      font-size: 0.8em
  li:first-of-type
    a
      border-left: none

#logo
  text-align: center

@import 'main_menu.styl'

#wrapper::after
  content: " "
  clear: both
  display: block
  visibility: hidden
  line-height: 0
  height: 0

#wrapper
  clear: both
  margin: 5px auto 20px auto
  padding: 0 40px 20px 40px
  border: 1px solid #e5e5e5
  border-radius: 4px
  background-color: rgba(255, 255, 255, 0.5)

.content-full
  margin-top: 15px
  margin-bottom: 20px
  padding-top: 1px

.post
  h1
    font-size: 2.45em
    margin-bottom: .5em
    margin-top: .5em
    font-weight: 100
    color: #999
    line-height: 1em

.content
  h2
    font-size: 2.250em
    margin-bottom: .75em
    margin-top: .75em
  h5
    font-size: 1.125em
    margin-bottom: 1.125em
    margin-top: 1.125em
  h1, h2, h3, h4, h5, h6
    line-height: 1.0em
    word-wrap: break-word

column-count(n)
  -moz-column-count: n
  -webkit-column-count: n
  column-count: n

column-width(w)
  -moz-column-width: w
  -webkit-column-width: w
  column-width: w

.multicol-3
  column-width(180px)

.multicol-2
  column-width(270px)

.multicol-2, .multicol-3
  .multicol-item
    width: 100%

.multicol-flex
  display: flex
  flex-wrap: wrap

.multicol-item
  flex-grow: 1
  display: inline-block
  padding-left: 1em
  box-sizing: border-box
  overflow: hidden
  word-wrap: break-word
  li
    font-size: 0.9em
  ul
    margin-bottom: 0

.textaccueil
  text-align: center
  width: 200px

#social-icons
  li
    display: inline-block

@import 'gallery.styl'

footer
  font-size: 0.7em
  margin: 0 auto
  padding: 0 25px 0 25px
  max-width: 960px
  .social-icons
    list-style: none
    display: inline
  .scroll-top
    margin-left: 2%
    margin-right: 2%
  .equidistant
    width: auto
    text-align: justify
    div, ul
      display: inline-block
  .equidistant::after
    content: ''
    width: 100%
    visibility: hidden
    display: inline-block

.alignright
  float: right
  margin: 5px 0 20px 20px

.overlayed
    position: relative
    .overlay
        opacity: 0
        position: absolute
        top: 0
        left: 0
.overlayed:hover .overlay
        opacity: 1

@media screen and (max-width: 670px)
  #logo
    padding-top: 30px

@media screen and (max-width: 480px)
  #wrapper
    padding: 0 20px 20px 20px

