body {
  background-color: #f7f7f7;
  background-image: url(/img/infinite_RM.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  color: #555555;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em; }

#container {
  max-width: 700px;
  margin: 5px auto;
  padding: 0px 25px; }

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 2px; }

img {
  margin: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #555;
  font-weight: 400;
  text-decoration: none; }

ul {
  list-style: square;
  padding-left: 20px; }

p, hr, table, pre, form, blockquote, address {
  margin: 1.6em 0; }

blockquote {
  font-style: italic; }

#top_menu {
  position: absolute;
  z-index: 2;
  right: 25px; }
  #top_menu ul {
    margin: 2px 0;
    display: block;
    list-style: none; }
  #top_menu li {
    display: inline; }
    #top_menu li a {
      border-left: 1px solid #ccc;
      padding: 0 4px 0 8px;
      font-size: 0.8em; }
  #top_menu li:first-of-type a {
    border-left: none; }

#logo {
  text-align: center; }

#main_menu {
  text-align: center; }
  #main_menu ul {
    list-style: none;
    padding: 0; }
  #main_menu .menu {
    display: inline; }
  #main_menu .sub-menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 30%; }
  #main_menu .sub-menu:hover .sub {
    visibility: visible;
    height: auto; }
  #main_menu .sub {
    display: block;
    margin: auto;
    box-shadow: 2px 4px 17px #aaa;
    visibility: hidden;
    height: 0;
    min-width: 10em;
    overflow: hidden;
    position: absolute;
    top: 99%;
    left: calc(50% - 5em - 2px);
    z-index: 10; }
    #main_menu .sub li {
      background: #ffffff;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc; }
    #main_menu .sub li + li {
      border-top: 0; }
    #main_menu .sub li:hover {
      background: #f3f3f3; }
    #main_menu .sub a {
      display: block;
      font-size: 0.85em;
      height: 1.4em;
      line-height: 1.4em;
      padding: 4px 10px; }
  #main_menu a {
    color: #444444;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    height: 2.9em;
    line-height: 3.2em;
    position: relative;
    white-space: nowrap; }

#wrapper::after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#wrapper {
  clear: both;
  margin: 5px auto 20px auto;
  padding: 0 40px 20px 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5); }

.content-full {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 1px; }

.post h1 {
  font-size: 2.45em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 100;
  color: #999;
  line-height: 1em; }

.multicol {
  display: inline-block;
  vertical-align: top;
  padding-left: 3%;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word; }
  .multicol li {
    font-size: 0.9em; }

.textaccueil {
  text-align: center;
  width: 200px; }

#social-icons li {
  display: inline-block; }

.my-gallery figcaption {
  margin: 0;
  display: none; }
.my-gallery table {
  margin: 0; }
.my-gallery * {
  margin: 0;
  padding: 0; }
.my-gallery td {
  padding: 3px; }

footer {
  font-size: 0.7em;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  max-width: 960px; }
  footer .social-icons {
    list-style: none;
    display: inline; }
  footer .scroll-top {
    margin-left: 2%;
    margin-right: 2%; }
  footer .equidistant {
    width: auto;
    text-align: justify; }
    footer .equidistant div, footer .equidistant ul {
      display: inline-block; }
  footer .equidistant::after {
    content: "";
    width: 100%;
    visibility: hidden;
    display: inline-block; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

@media screen and (max-width: 480px) {
  #wrapper {
    padding: 0 20px 20px 20px; } }

/*# sourceMappingURL=rebeccameier.css.map */
