<nav id="main_menu">
    <ul class="menu">
      <li class="menu-header" onclick="this.parentElement.classList.toggle('show-menu')"><a>Menu</a></li>
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
          <a href="{{.URL}}" class="">
              {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
          <ul class="sub">
              {{ range .Children }}
              <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
              {{ end }}
          </ul>
        {{else}}
          <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        {{end}}
        </li>
      {{end}}
    </ul>
</nav>
