<!--sidebar start-->
<aside>
    <div id="links" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          {{ $currentNode := . }}

          {{ range (index .Site.Menus (print "links_" (default "fr" .Params.lang) ) ) }}
            <li>
              <a class="" href="{{.URL}}">
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
              </a>
            </li>
          {{end}}

          <!-- Language switcher -->
          {{ range .Site.Params.ContentLanguages }}
            <li>
              <a href="/{{ . }}">{{ . }}</a>
            </li>
          {{ end }}
          <!-- Language switcher end -->

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
