<!-- image -->
{{ $classnames := slice "" }}
{{ with .Get "class" }}{{ $classnames = $classnames | append . }}{{ end }}
{{ if .Get "removemargin" }}{{ $classnames = $classnames | append "remove-margin" }}{{ end }}
{{ $classname := trim (delimit $classnames " ") " " }}

<figure {{ with $classname }}class="{{.}}"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src="{{ .Get "src" }}"
        {{- if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}
        {{- with .Get "width"}} width="{{.}}"{{end}}
        {{- with .Get "height"}} height="{{.}}"{{end}} />
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<small>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </small> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->
