{{ $gallery := (index .Site.Data.gallery ( printf "%s.%s" (.Get 0) .Page.Lang)) }}
<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  {{ range $gallery.content }}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ .src }}" itemprop="contentUrl" data-size="{{ .size }}">
          <img src="{{ .thumbnail }}" itemprop="thumbnail" alt="{{ .title }}" width="{{ $gallery.size }}" height="{{ $gallery.size }}"/>
      </a>
      <figcaption itemprop="caption description">{{with .title}}
        <h4>{{ . }}</h4>{{ end }}
        {{ with .description }}<p>
        {{ . }}
        </p> {{ end }}
      </figcaption>
    </figure>
  {{ end }}
</div>
