{{ $gallery := (index .Site.Data.gallery ( printf "%s.%s" (.Get 0) .Page.Lang)) }}
<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
<table>
  {{ range $index, $elem := $gallery.content }}
    {{ if not (mod $index $gallery.column) }}<tr>{{ end }}
    <td>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ .src }}" itemprop="contentUrl" data-size="{{ .size }}">
          <img src="{{ .thumbnail }}" itemprop="thumbnail" alt="{{ .title }}" width="{{ $gallery.size }}" height="{{ $gallery.size }}"/>
      </a>
      <figcaption itemprop="caption description">{{with .title}}
        <h4>{{ . }}</h4>{{ end }}
        {{ with .description }}<p>
        {{ . }}
        </p> {{ end }}
      </figcaption>
      </figure>
    </td>
    {{ if not (mod (add $index 1) $gallery.column) }}</tr>{{ end }}
  {{ end }}
</table>
</div>
