{{ $g := .Get "gallery" }}
{{ $tuple := (index .Site.Data.gallery "home") }}
<div class="overlayed">
<script>
    var srcs = {{ jsonify (apply $tuple "index" "." $g) | safeJS }};
    var num = (num === undefined) ? Math.floor(Math.random() * srcs.length) : num;
    document.write('<img src="' + srcs[num] + '" {{- with .Get "alt" }} width="200px" height="200px" alt="{{.}}" {{ end -}} />'); document.close();
</script>
<noscript>
    <img src="{{ index (index $tuple 0) $g }}" 
        {{- with .Get "alt" }} alt="{{.}}" {{ end -}} 
    />
</noscript>
<img class="overlay" src="/img/{{ $g }}/{{ $g }}_hover_{{ .Page.Lang }}.png" />
</div>
